    /* general styling */
    .row:before, .row:after {display: none !important;}
    html {
        scroll-behavior: smooth;
    }
    
    .hr-line{ 
        display:block;
        border:none;
        color:white;
        height:1px;
        background:black;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato', sans-serif;
    }

    footer a {
        color: white;
    }

    body,
    html {
        font-family: 'Crimson Text',serif;
        height: 100%;
        color: #777;
        line-height: 1.8;
    }

    /* Background image scrolling */
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* hero image */
    .title {
        padding: 2%;
    }

    .bgimg-1 {
        background-image: url(../images/radar_system.jpg);
    }

    /* Services image */
    .bgimg-2 {
        background-image: url(../images/TADRS.jpg);
    }

    /* Contact image */
    .bgimg-3 {
        background-image: url(../images/AWAC.jpg);
    }

    /* w3 - format */
    .w3-wide {
        letter-spacing: 10px;
        font-family: 'Lato',sans-serif;
    }

    .w3-hover-opacity {
        cursor: pointer;
    }

    /* navbar styling */

    #Navbar {
        background: #40B0A6;
        font-size: 1.5em;
    }

    #navbar-container {
        background: #40B0A6;
        padding: 0.5% 0 0.5% 5%;
        color: white;
        letter-spacing: 3px;
    }

    #navbar-container a {
        color: white;
        text-decoration: none;
    }

    .nav-item{
        font-family: 'Lato',serif;
        font-size: 1rem;
    }
    /* testimonials */

    #testimonials {
        text-align: center;
        color: white;
        background: #40B0A6
    }


    .testimonial-image {
        width: 20%;
        border-radius: 100%;
        margin: 20px;
    }

    .carousel-item {
        padding: 7% 25%;
    }

    /* about section */

    .profile {
        margin-bottom: 30px;
    }

    .list1,
    .list2 {
        list-style: none;
    }

    .skills{
        letter-spacing: 5px;
    }

    /* employment history */
    #history{
        margin: 2% auto;
        max-width: 90% ;
    }
    #history .card-header .btn{
        color: #777;
    }

    #history .card-header :hover {
        text-decoration: none;
        opacity:0.9;
    }

    #history .card{
        max-height: 100%;
    }

    /* services */
    #services-container {
        margin : 5% auto;
        width:100%;
    }

    #services-container .card{
        border: none;
    }

    #services-container .card-img{
        height : 200px;
        margin:5% 0;
    }

    /* partners styling */
    #partners {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #partners img {
        width: 15%;
        margin: 20px 20px 50px;
    }

    /* RWD breakpoints */

    /* handheld devices */
    @media only screen and (max-width: 500px) {

        /* bg images */
        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            background-attachment: scroll;
            min-height: 60%;
            width: 100%
        }

        /* services */
        #services-container .card-img{
            height: 150px;
        }
        /* partners */
        #partners img {
            width: 25%;
        }
        /* title */
        .title {
            white-space: wrap;
        }
        /* testimonials */
        .testimonial-text {
            font-size: 10px;
        }

    }
    /* tablets */
    @media only screen and (min-width: 500px) {
        /* bg images */
        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            background-attachment: scroll;
            min-height: 80%;
            width: 100%
        }
        /* title */
        .title {
            white-space: nowrap;
        }
    }

    /* desktop */
    @media only screen and (min-width: 900px) {
        /* bg images */
        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            background-attachment: fixed;
            min-height: 100%;
        }
        /* testimonials */
        .testimonial-text {
            font-size: 20px;
        }

    }